@font-face {
    font-family: 'Baloo Paaji';
    src: url('../font/baloo_paaji/baloo_paaji-regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu/ubuntu-light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu/Ubuntu-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu/ubuntu-regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu/ubuntu-medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu/ubuntu-bold.ttf');
    font-weight: 700;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 600px;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

h1, h2, button,
.button,
.bubble .title,
.bubble .subtitle,
.objednavka__download__title,
.objednavka__download__button,
.objednavka__inspire__button,
.objednavka__inspire__subtitle,
.kdozatim__title,
.kdozatim__avatar__caption,
.kdozatim__help-title,
.kdozatim__phone,
.kdozatim__mail {
    font-family: 'Baloo Paaji', cursive;
}

h1, h2 {
    color: white;
    font-weight: normal;
}

h3,h4,h5,h6,
.rozvijime__play-video__text,
.product-text,
.jakto__text,
.objednavka__review__text,
.page-footer {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    letter-spacing: 1pt;
}

.strong, .strong *{
    font-weight: 700 !important;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h3 {
    font-size: 20pt;
    line-height: 30px;
}

section {
    width: 100%;
}
.clear{
    clear: both;
}

.icon-arrow_down {
    color: #fff;
    margin: 50% auto;
    cursor: pointer;
    color: rgba(255,255,255,0.3);
}

.icon-arrow_down:hover{
    color: rgba(255,255,255,0.8);
}

.overlay {
    position: relative;
    transition: all 1s;
}

.overlay:hover:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    background:rgba(0,0,0,0.15);
    opacity: 1;
    transition: all 0.5s;
}

.overlay:after {
    opacity: 0;
}

.page-header {    
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(92, 195, 245);
    padding-top: 3em;       
    margin: 0;
}

.rozvijime{
    border-top: 1px solid #5cc3f5;
}

.page-header__image {
    transform: scale(0.7);
}

.page-nav{
    font-family: 'Ubuntu', sans-serif;
    background: #3ba8d4;
    position: fixed;
    top: 0; left: 0;        
    z-index: 5000;
    width: 100%;
    text-align: center;
    min-width: 600px;    
    padding: 0.8em 0 1em 0;
    height: 1.8em;
}

.page-nav ul{
    padding: 0; margin: 0;
}

.page-nav li{
    display: inline-block;    
}

.page-nav li a{
    padding: 0.2em 1.5em 0.2em 3em;
    display: inline-block;
    background: url('../img/header/menu_arrow.png') left center no-repeat;
    font-size: 13pt;
}

.page-nav li.active a{
    font-weight: bold;
}

.page-nav li a:hover{
    opacity: 0.5;
}

.page-nav li.first a{
    background-image: none;
}

#mobile-menu-btn {
    width: 30px;
    padding: 6px 0px;
    border-top: 6px solid #FFF;
    border-bottom: 6px solid #FFF;
    font-size: 0px;
    line-height: 0;
    position: absolute;
    z-index: 11;
    margin-top: 15px;
    left: 50%;
    left: 30px;
    margin-left: -15px;
    top: 0;
    background: transparent url("../img/close.png") no-repeat scroll 0px -999px;
    background-size: 30px;
    outline: 0px none;
    display: none;
}

#mobile-menu-btn span {
    display: inline-block;
    background-color: #FFF;
    width: 100%;
    height: 6px;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    #mobile-menu-btn {
        display: block;
    }
    
    .page-nav.open ul {
    display: block
    }
    
    .page-nav.open{
            height: auto;
            padding-top: 50pt;
    }

    .page-nav ul {
        display: none;
    }
    
    .page-nav {
        text-align: left;
    }

    .page-nav ul li a{
      width: 100%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 120px;
      font-size: 1.7em;
      background-position: 70px center;
      border-top: 1px solid #4fb2d9;
    }
    
    .page-nav ul li{
          display: block;
          position: relative;
    }
    
    .page-nav li.first a{
          background-image: url('../img/header/menu_arrow.png');
    }
  
}

#mobile-menu-btn.open span{
    background: none;
}

#mobile-menu-btn.open{
    width: 30px;
    height: 30px;
    border: 0px none;
    padding: 0px;
    background-position: 0px 0px;
}

.ukazka{
    text-align: center;
    margin: 2em 0 6em 0;
}

.ukazka a:hover{
    opacity: 0.8;
}

@media (max-width: 1200px) {
    .page-header__image__cloud {
        display: none;
    }
}

.rozvijime {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92, 195, 245);
    position: relative;
    color: white;
    min-height: 570px;
    height: calc(100vh - 160px - 5em);
    width: 100%;
    overflow: hidden;
}

.rozvijime__main { 
    margin-top: 1.5em;
}

.rozvijime__grass {
    background-color: rgb(96, 179, 76);
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 900px) {
    .rozvijime {
        height: 700px;
    }

    .rozvijime__grass {
        display: none;
    }

    .rozvijime__main {
        margin-bottom: 40px;
    }
}

.button-objednat {
    background-color: rgb(247,114,6);
    display: block;
    border-radius: 25px;
    width: 250px;
    height: 70px;
    transition: all 250ms ease;
    z-index: 200;
}


.button-recenze,
.button-video, 
.button-fotogalerie{
    text-align: center;
    background-color: #5ac1f3;
    display: block;
    border-radius: 25px;
    height: 70px;
    transition: all 250ms ease;
    z-index: 200;
    width: 400px;
    margin: auto;
    box-shadow: black 4px 4px 10px -6px;
}


.button-video, .button-fotogalerie{
    float: left;
    width: 350px;
    margin-bottom: 30px;
}

.button-video{
    background-color: #b52916;
    margin-left: 25px;
}

@media (max-width: 800px) {
    .button-video, .button-fotogalerie{
        float: none;
    }
    .button-video{
        margin-left: 0;
    }
}

.fotogalerie_video{
    margin-top: 100px;
}

.rozvijime__header {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

@media (max-height: 860px) {
    .rozvijime__header__title {
        padding-top: 0px !important;
    }
    
    .rozvijime__play-video {
        margin-bottom: 1.5em !important; 
    }
    .rozvijime__header {
        height: 150px;
        align-items: flex-start;
        position: relative;
    }
    .rozvijime__header__subtitle{
        font-size: 20pt !important;
    }
    .rozvijime__header__title__text{
        font-size: 32pt !important;
    } 
        
    .page-header__image--box {
        transform: scale(0.7);
        height: 150px;
    }
    .rozvijime {
        height: calc(100vh - 185px);
    }
}

.rozvijime__header__image {
    width: 131px;
    text-align: right;
    transform: scale(0.6);
}

@media (max-width: 1400px) {
    .rozvijime__header__image--rocket {
        margin-left: -20px;
    }
}

@media (max-width: 1350px) {
    .rozvijime__header__image {
        display: none;
    }
    
    .rozvijime__header {
        height: auto;
    }
}

.rozvijime__header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    padding-top: 20px;
}

.rozvijime__header__subtitle {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 23pt;
}

@media (min-width: 1100px) {
    .rozvijime__header__title__break {
        display: none;
    }
}

@media (min-width: 800px) {
    .rozvijime__header__subtitle__break {
        display: none;
    }
}

@media (max-width: 800px) {
    .rozvijime__header__subtitle {
        margin-bottom: 10px;
    }
}

.rozvijime__header__title__text {
    font-size: 30pt;
    line-height: 36pt;
    text-align: center;
    padding-bottom: 20px;
}

.rozvijime__header__title__text {
    font-size: 38pt;
}

.button-objednat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 34px;
    box-shadow: black 4px 4px 10px -6px;
    margin: auto;
}

.button-objednat__title {
    flex-grow: 1;
    text-align: center;
    font-size: 28pt;
    color: white;
}

.rozvijime__play-video {
    display: block;
    text-align: center;
    margin-bottom: 3em;
}

.rozvijime__play-video__link {
    text-align: center;
    opacity: 0.6;
}

.rozvijime__play-video__link:hover {
    opacity: 1;
}

.rozvijime__play-video__text {
    display: block;
}

.rozvijime__play-video__text {
    font-size: 20pt;
    font-weight: 400;
    margin-top: 14px;
}

.rozvijime__grass__image {
    position: absolute;
    transform: scale(0.8);
}

.rozvijime__grass__image.girl {
    right: 25%;
    bottom: 45px;
}

@media (max-width: 1600px) {
    .rozvijime__grass__image.girl {
        left: calc(50% + 140px);
    }
}

.rozvijime__grass__image.paint {
    right: 21%;
    bottom: 70px;
}

@media (max-width: 1600px) {
    .rozvijime__grass__image.paint {
        left: calc(50% + 330px);
    }
}

.rozvijime__grass__image.bobo {
    right: 5%;
    bottom: 84px;
}

.rozvijime__grass__image.boy {
    left: 25%;
    bottom: 45px;
}

@media (max-width: 1600px) {
    .rozvijime__grass__image.boy {
        left: calc(50% - 400px);
    }
}

.rozvijime__grass__image.castle {
    left: -70px;
    bottom: 74px;
}

@media (max-width: 1300px) {
    .rozvijime__grass__image.bobo,
    .rozvijime__grass__image.castle {
        display: none;
    }
}

.prokohoje,
.prokohoneni,
.papermagic {
    background-color: rgb(247, 114, 6);
    border-bottom: rgb(191, 191, 191) 1px dashed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.prokohoneni,
.papermagic {
    background: none;
    border-bottom: none;
}

.papermagic__logo img{
  height: 60px;
  margin-bottom: 3em;
}


.prokohoje{
    padding-top: 80px;
    padding-bottom: 50px;
}

.prokohoneni {
    padding-top: 80px;
    padding-bottom: 50px;
}

.papermagic{
    background: none;
}

.papermagic figure{
    margin: 3em 1em;
}

@media (max-width: 1200px) {
    .papermagic figure{
        margin: 1em 1em;
    }
}


.papermagicbg {
    background-size: cover;
    text-align: center;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    width: 100%;
}

.papermagicbg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/split/wood-texture.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.papermagic__refleft,.papermagic__refright{
    position: absolute; 
    top: 60px; 
    max-width: 402px; 
}


.papermagic__refleft{
    left: 1%; 
}

.papermagic__refright{
    right: 1%; 
}

@media (max-width: 1500px) {
    .papermagic__refleft{
        left: -70px;
    }

    .papermagic__refright{
        right: -100px;
    }

}
@media (max-width: 1350px) {
    .papermagic__refleft{
        left: -70px;
        width: 25%;
    }

    .papermagic__refright{
        width: 25%;
    }

}

@media (max-width: 1200px) {
    .papermagic__refleft,.papermagic__refright{
        top: 50%; 
        margin-top: -15%;
        width: 30%;
    }
    .papermagic__refleft{
        left: 10px;
    }
    .papermagic__refright{
        right: 10px;
    }

}


.papermagic figure {
    text-align: center;
}

.papermagic figure h3 {
    font-size: 32pt;
}

.papermagic figure h4 {
    font-size: 14pt;
}

.prokohoje ul,
.prokohoneni ul {
    padding: 25px;
}

.prokohoje .prokohoje__title,
.prokohoje .product-text {
    color: #fff;
}

.prokohoneni .prokohoneni__title {
    color: rgb(247, 114, 6);
}

.prokohoje .product-title,
.prokohoneni .product-title {
    max-width: none;
    margin-bottom: 0;
}

.prokohoje .product-text,
.prokohoneni .product-text {
    font-size: 16pt;
}

.text-box{
    width: 55%;
    max-width: 750px;
}

@media (max-width: 1200px) {
    .text-box{
        width: 90% !important;
    }
}

.prokohoje .product-image{
    margin-top: 5em;
}

.prokohoneni a {
    color: black;
    text-decoration: underline;
}

.prokohoje strong, .prokohoneni strong{
    font-weight: 400;
}

.prokohoje .product-text{
    font-weight: 400;
}

.prokohoneni .product-text li,.prokohoje .product-text li{
    margin-bottom: 0.5em;
}

.prokohoneni .product-text, .prokohoneni .product-text a {
    color: #707070;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .prokohoje,
    .prokohoneni,
    .papermagic {
        flex-direction: column;
        height: auto;
        padding: 50px 10px;
    }

    .prokohoje .product-image,
    .prokohoneni .product-image {
        display: none;
    }

    .papermagic figure {
        min-width: none;
    }

}

.papermagic figure h3,
.papermagic figure h4 {
    font-family: 'Baloo Paaji', cursive;
}

.papermagic .papermagic__logo img {
    align-items: flex-start;
}

.papermagic .papermagic__fans {
    color: #0995db;
}

.papermagic .papermagic__views {
    color: #fc9900;
}

.papermagic .papermagic__crafts {
    color: #8abf00;
}

.papermagic .papermagic__videos {
    color: #ff5247;
}

.papermagic .papermagic__crafts,.papermagic .papermagic__videos,.papermagic .papermagic__views,.papermagic .papermagic__fans {
    color: #8abf00;
}

.papermagic__fb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.papermagicbg h2 {
  color: rgb(7, 93, 153);
  margin-bottom: 50px;
  font-size: 26pt;
}


.ficury {
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ficury__background {
    width: 100%;
    min-width: 600px;
    height: 1194px;
    margin-top: -300px;
    position: absolute;
    background-image: url('../img/header/box_b.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
    left: 0;
}

@media (max-width: 1000px) {
    .ficury__background {
        background-size: 1000px auto;
    }
}

.ficury__playbox {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.ficury__title {
    z-index: 1;
}

.ficury__title,
.jakto__title {
    font-size: 40pt;
    letter-spacing: 0;
    margin-top: 80px;
}

.product-description {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    max-width: 1200px;
    margin: auto;
    color: #484848;
}

.product-line{
    border-bottom: rgb(191, 191, 191) 1px dashed;
    display: block;
}


.product-description.usetrite {
    border-color: transparent;
}

.product-description .text-box {
    width: 50%;
}

@media (max-width: 1200px) {
    .product-description {
        flex-direction: column;
    }

    .product-description.right .text-box,
    .product-description.left .text-box {
        margin-left: 0;
        margin-right: 0;
        -webkit-order: 2 !important;
        order: 2 !important;
        margin-top: 50px;
    }

    .product-description.usetrite {
        padding-bottom: 0;
    }
}

.product-text {
    font-weight: 300;
    letter-spacing: initial;
    font-size: 18pt;
    line-height: 24pt;
}

.product-description.right .text-box {
    -webkit-order: 2;
    order: 2;
}

.product-description.left .text-box {
    -webkit-order: 0;
    order: 0;
}

.foto_reference{
    background: #60b34c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

@media (max-width: 900px) {
    .foto_reference{
        padding-top: 5em;
    }
}

.objednavka__reference{
    margin: 5em auto;
    display: block;
    width: 90%;
}

.foto_reference img{
    width: 90%;
    margin: auto;
    display: block;
}


.o_cem__title{
    font-size: 42pt;
    text-align: center;
    color: #3ba8d4;
    margin: 1em 0 0 0;
}

.kreativni .text-box {
    margin-left: 200px;
}

.vkazdem .text-box {
    margin-right: 140px;
}

.navody .text-box {
    margin-left: 20px;
}

.usetrite .text-box {
    margin-right: 120px;
}

@media (max-width: 1400px) {
    .kreativni .text-box {
        margin-left: 100px;
    }

    .vkazdem .text-box {
        margin-right: 70px;
    }

    .navody .text-box {
        margin-left: 30px;
    }

    .usetrite .text-box {
        margin-right: 60px;
    }
}

.product-image {
    -webkit-order: 1;
    order: 1;
}

.product-title {
    font-size: 34pt;
    line-height: 44pt;
    margin-bottom: 45px;
    max-width: 510px;
}

.kreativni__title {
    color: rgb(249, 175, 29);
}

.vkazdem__title {
    color: rgb(59, 168, 212);
}

.navody__title {
    color: rgb(236, 99, 99);
}

.usetrite__title {
    color: rgb(0, 161, 57);
}

.usetrite,
.jakto {
    padding-bottom: 80px;
}

.vkazdem__six {
    color: white;
    background-color: rgb(236, 99, 99);
    display: inline-block;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 55px;
}

.jakto {
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jakto__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5%;
}

.jakto__text {
    max-width: 480px;
    line-height: 1.7em;
}

.jakto__text p {
    font-size: 16pt;
    text-align: left;
}

.jakto__text a {
    color: black;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .jakto {
        height: auto;
    }

    .jakto__text {
        max-width: 600px;
        width: 80%;
    }

    .jakto__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.jakto__title {
    color: #5ac1f3;
    margin-bottom: 30px;
}

.jakto__photo {
    height: 430px;
}

.jakto__photobox {
    margin-left: 40px;
    position: relative;
}

@media (max-width: 1200px) {
    .jakto__photobox {
        margin-left: 0px;
    }
}


.jakto .bubble {
    width: 130px;
    height: 130px;
    position: absolute;
    border-radius: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bubble.red {
    background-color: rgb(236, 99, 99);
    top: 170px;
    left: -50px;
}

.bubble.yellow {
    background-color: rgb(249, 175, 29);
    top: 20px;
    left: -10px;
}

.bubble.blue {
    background-color: rgb(59, 168, 212);
    top: 320px;
    left: -10px;
}

.bubble .title,
.bubble .subtitle {
    display: flex;
    color: white;
    letter-spacing: initial;
}

.bubble .title {
    font-size: 26pt;
    line-height: 20pt;
}

.bubble .subtitle {
    font-size: 13pt;
    line-height: 16pt;
}

.bubble .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    position: absolute;
}

.bubble.red .arrow {
    border-color: transparent transparent transparent rgb(236, 99, 99);
    top: 55px;
    right: -18px;
}

.bubble.yellow .arrow {
    border-color: transparent transparent transparent rgb(249, 175, 29);
    top: 102px;
    right: 0;
    transform: rotate(45deg);
}

.bubble.blue .arrow {
    border-color: transparent transparent transparent rgb(59, 168, 212);
    top: 10px;
    right: -3px;
    transform: rotate(-36deg);
}

.jakto__text {
    font-size: 13pt;
    letter-spacing: initial;
}

.jakto__text > p {
    padding-bottom: 15px;
}

.objednavka__header {
    background-color: #00a139;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.objednavka__title {
    font-size: 32pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.objednavka__title_vydani {
    font-size: 22pt;
    margin-top: 0px;
    margin-bottom: 30px;
}

.objednavka__subtitle {
    font-size: 22pt;
    font-weight: normal;
    letter-spacing: initial;
    color: white;
}

h4.objednavka__subtitle {
    font-size: 16pt;
    max-width: 50%;
    margin-top: 20px;
    color: #ddd;
    font-style: italic;
    font-weight: 300;
}

.objednavka__content {
    background: url('../img/split/wood-texture.jpg') top center repeat-y;
    background-size: 100% 2800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.objednavka__shadow{
    -webkit-filter: drop-shadow(5px 5px 50px rgba(0,0,0,0.5)) drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 50px rgba(0,0,0,0.5)) drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.objednavka__form{
    max-width: 1200px;  
}

.objednavka__col1, .objednavka__col2{
    float: left; 
    margin-left: -20%;
}

@media (max-width: 1200px) {
    .objednavka__col1, .objednavka__col2{
        margin-left: -15%;
    }
    .objednavka__content {
        background-size: 100% 100%;
    }

}

.objednavka__col1{
    max-width: 881px;
    width: 100%;   
    padding-top: 200px;
    position: relative;
}

.objednavka__tab_testovano{
    position: absolute;
    left: 190px;
    bottom: 0px;
}

.objednavka__col2{
    margin-left: -100%;
    float: right;
    width: 501px;
    max-width: 501px;
    padding-right: 20px;
    margin-top: 50px;
}

@media (max-width: 800px) {
    .objednavka__col1{
        display: none;
    }

    .objednavka__col2{
        float: none;
        margin: 50px auto 0 auto;
    }
}

.hat1{
    float: left; 
    margin-left: 40px;
}
.hat2{
    float: right; 
    margin-right: 40px;
}

.tab_1, .tab_2,.tab_3{
    font-family: 'Ubuntu';
    font-size: 14pt;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative; 
    padding: 20px 30px 60px 30px;
    text-align: center;
}

.tab_2, .tab_3{
    display: none;
}


.objednavka__tabs .overlay {
    transition: none;    
}

.objednavka__tabs .overlay:hover:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:rgba(0,0,0,0.15);
    opacity: 1;
    transition: none;
}

.objednavka__tabs .overlay:after {
    opacity: 0;
}

.objednavka__card__prani{
  font-size: 14pt;
  color: #29abe2;
  font-weight: 700;
  position: relative;
  bottom: 10px;
  margin-left: 20px;
}

.objednavka__card__volby{
    text-align: left;
    position: relative;
}

.objednavka__card__novy{
    font-weight: 700;
    color: #f77206;
    font-size: 16pt;
    letter-spacing: -0.5pt;
}

.objednavka__card__volby label{
    display: block;
    padding-bottom: 10px;
}

.objednavka__card__price,.objednavka__card__summary__1{
    color: #000; 
    font-size: 40pt;
    font-family: 'Baloo Paaji', cursive;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -20px;
}                    

.objednavka__card__summary__1{
    font-size: 32pt;
}

.objednavka__card__summary__2{
    font-size: 18pt;
    margin: 20px 0 20px;
    display: block;
}

.objednavka__card__obsah{
    font-size: 18pt;
    color: #3ba8d4;
    margin-bottom: 20px;
}

.objednavka__card__material{
    font-size: 11pt;
}

.objednavka__card__delka{
    font-size: 18pt;
    font-weight: 700;
    margin-bottom: 20px;
}

.objednavka__card__obsah__item{
    width: 50%;
    float: left;
    color: #707070;
    padding: 5px 0;
}

.objednavka__card__favorite{
    position: absolute;
    right: -190px;
    top: -80px;
}

@media (max-width: 1350px) {
    .objednavka__card__favorite{
        display: none;
    }
}

.objednavka__tabs {
    list-style: none;
    padding: 0;
}

.objednavka__tabs li{
    font-family: 'Baloo Paaji', cursive;
    color: #fff;
    font-size: 16pt;
    float: left;
    width: 167px;
    text-align: center; 
}

.objednavka__tabs li a{
    padding: 16px 20px 8px 20px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.objednavka__tabs li.active a{
    background: #fff;
    color: #000;
}

.tab-1 a{
    background: #00a139;
}

.tab-2 a{
    background: #3ba8d4;    
    margin: 0px 10px;
}

.tab-3 a{
    background: #dc1673;
    
}

.box{
    background: #00a139;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Baloo Paaji', cursive; 
    font-size: 13pt;
    line-height: 1em;
    padding: 5px 15px 3px 15px;
    font-weight: normal;

}
.box.zdarma{
    background: #00a139;
}

.box.darek{
    background: #eb4519;
}


.hr{
    background: #dedbd4;
    height: 5px;
    overflow: hidden;
    display: block;
    margin: 20px 0;
}

input[type="checkbox"] {
    display:none;
}

label{
    cursor:pointer;
}

input[type="checkbox"] + label > span {
    display:inline-block;
    width:31px;
    height:31px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../img/pricing/component.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label > span {
    background:url('../img/pricing/component.png') -31px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label > span {
    display:inline-block;
    width:31px;
    height:31px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../img/pricing/component.png') -62px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label > span {
    background:url('../img/pricing/component.png') -93px top no-repeat;
}

.objednavka__predplatne__ic_aktivit, 
.objednavka__predplatne__ic_lepidlo, 
.objednavka__predplatne__ic_navody, 
.objednavka__predplatne__ic_material{
    display: inline-block;
    width: 40px; 
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
} 

.objednavka__predplatne__ic_aktivit{
    background: #ec6363; 
    border-radius: 100%; 
    color: #fff;  
    text-align: center;
    font-family: 'Baloo Paaji', cursive; 
    font-size: 22pt;
}

.objednavka__predplatne__ic_material{
    background: url('../img/pricing/ico-material.png')
}

.objednavka__predplatne__ic_navody{
    background: url('../img/pricing/ico-pribeh.png')
}

.objednavka__predplatne__ic_lepidlo{
    background: url('../img/pricing/ico-lepidlo.png')
}

@media (max-width: 1200px) {
    .objednavka__content {
        height: auto;
    }

}

.objednavka__recomend {
    text-align: center;
}

.objednavka__inspire__title,
.objednavka__recomend__title {
    margin-top: 60px;
    font-size: 30pt;
    margin-bottom: 60px;
}
.objednavka__recomend__title {
    color: #000;
}   


@media (max-width: 1200px) {
  .objednavka__recomend__title {
      margin-top: 70px;
  }

  .objednavka__reviews .objednavka__review {
      margin: 30px auto 50px auto;
  }
}

.objednavka__reviews{
    max-width: 1200px;
}

.objednavka__review {
    width: 370px;
    height: 260px;
    border-radius: 30px;
    background-color: white;
    margin: 0 10px;
    position: relative;
    float: left;
    margin-bottom: 70px;
}

@media (max-width: 1200px) {
    .objednavka__review{
        float: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    } 
}

.objednavka__review__text {
    margin-top: 40px;
    padding: 0 40px;
    letter-spacing: initial;
    font-weight: 400;
}

.objednavka__review__check {
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url('../img/pricing/check.png');
    position: absolute;
    top: -34px;
    left: 50%;
    margin-left: -34px;
}

.objednavka__footer {
    background-color: rgb(96, 179, 76);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.objednavka__download {
    width: 924px;
    height: 524px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    z-index: 3;
}

@media (min-width: 1200px) {
    .objednavka__download {
        margin-top: -224px;
    }
}

@media (max-width: 1200px) {
    .objednavka__download {
        margin-top: 40px;
    }
}

@media (max-width: 1000px) {
    .objednavka__download {
        margin-top: 0;
        border-radius: 0px;
        width: 100%;
        padding-bottom: 50px;
    }

    .objednavka__inspire__arrow {
        display: none;
    }
}

.objednavka__download__title {
    color: rgb(0, 161, 57);
    letter-spacing: initial;
    font-size: 26pt;
    line-height: 32pt;
    margin-top: 60px;
}

.objednavka__download__subtitle {
    letter-spacing: initial;
    margin-top: 50px;
    font-size: 20pt;
    margin-bottom: 30px;
}

.objednavka__download__input {
    width: 470px;
    height: 40px;
    padding: 20px;
    border: rgb(191, 191, 191) 2px solid;
    border-radius: 30px;
    font-size: 26pt;
    margin-bottom: 50px;
    outline: none;
}

.objednavka__download__button {
    padding: 0 40px;
    height: 70px;
    border-radius: 30px;
    border-width: 0;
    background-color: rgb(247,114,6);
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    letter-spacing: initial;
    font-size: 26pt;
    transition: all 250ms ease;
    box-shadow: black 4px 4px 10px -6px;
}

.objednavka__inspire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
}

.objednavka__inspire__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.objednavka__inspire__button {
    width: 300px;
    height: 76px;
    display: flex;
    flex-direction: row;         
    justify-content: center;     
    align-items: center;    
    color: white;
    border-radius: 30px;
    letter-spacing: initial;
    font-size: 26pt;
    box-shadow: black 4px 4px 10px -6px;
}

@media (min-width: 1000px) {
    .objednavka__inspire__button.youtube {
        margin-left: 280px;
    }
}

@media (max-width: 1000px) {
    .objednavka__inspire__buttons {
        flex-direction: column;
    }

    .objednavka__inspire__button.youtube {
        margin-top: 50px;
    }
}

.objednavka__inspire__button.facebook {
    background-color: rgb(7, 93, 153);
}

.objednavka__inspire__button.youtube {
    background-color: rgb(184, 44, 47);
}

.objednavka__inspire__button__text {
    margin-left: 40px;
}

.objednavka__inspire__arrow {
    position: absolute;
    top: 170px;
}

.objednavka__inspire__arrow.left {
    left: 130px;
}

.objednavka__inspire__arrow.right {
    right: 130px;
    transform: scaleX(-1);
}

.objednavka__inspire__subtitle {
    letter-spacing: initial;
    color: white;
    margin-bottom: 60px;
}

.objednavka__footer__img {
    position: absolute;
    transform: scale(0.7);
}

.objednavka__footer__img.left-grass {
    top: -61px;
    left: calc(50% - 533px);
}

.objednavka__footer__img.left-tree {
    top: -250px;
    left: calc(50% - 660px);
}

.objednavka__footer__img.squirrel {
    top: 185px;
    left: calc(50% - 615px);
    z-index: 5;
}

.objednavka__footer__img.cat-grass {
    top: 120px;
    left: calc(50% + 440px);
}

.objednavka__footer__img.right-tree {
    top: -210px;
    left: calc(50% + 470px);
}

@media (max-width: 1500px) {
    .objednavka__footer__img.cat-grass {
        display: none;
    }
}

@media (max-width: 1300px) {
    .objednavka__footer__img.left-tree {
        display: none;
    }
}

@media (max-width: 1250px) {
    .objednavka__footer__img.right-tree {
        display: none;
    }
}

@media (max-width: 1200px) {
    .objednavka__footer__img.squirrel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .objednavka__footer__img.left-grass {
        display: none;
    }
}

.faqs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-bottom: rgb(191, 191, 191) 1px dashed;
    padding-bottom: 40px;
}

.faqs__title {
    color: rgb(59, 168, 212);
    letter-spacing: initial;
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 60px;
    margin-bottom: 60px;
}

.faqs__container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

.faqs__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

.faqs__column a{
    text-decoration: underline;
    color: #000;
}

@media (max-width: 1200px) {
    .faqs__container {
        flex-direction: column;
    }

    .faqs__column {
        width: 100%;
    }
}

.faqs__faq {
    padding: 0 20px;
}

.faqs__faq--title {
    font-size: 18pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000;
    letter-spacing: 0pt;
}

.faqs p {
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3em;
    font-style: italic;
    font-weight: 300;
    font-size: 14pt;
}

.kdozatim {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.kdozatim__title {
    color: rgb(59, 168, 212);
    letter-spacing: initial;
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 60px;
    margin-bottom: 20px;
}

.kdozatim__subtitle {
    letter-spacing: initial;
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 60px;
}

.kdozatim__subtitle span {
    font-size: 1.5em;
}

.kdozatim__avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.kdozatim__avatar__caption {
    text-align: center;
    margin-top: 5px;
    color: rgb(236, 99, 99);
    letter-spacing: initial;
    font-size: 22pt;
}

.kdozatim__help-title {
    letter-spacing: initial;
    font-size: 22pt;
    color: rgb(0, 161, 57);
}

.kdozatim__arrows {
    position: relative;
    width: 100%;
}

.kdozatim__avatars__box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .kdozatim__arrows {
        display: none;
    }

    .kdozatim__avatars {
        flex-direction: column;
    }
}

.kdozatim__arrow {
    position: absolute;
}

.kdozatim__arrow.first,
.kdozatim__arrow.fourth {
    top: -75px;
}

.kdozatim__arrow.second,
.kdozatim__arrow.third {
    top: -100px;
}

.kdozatim__arrow.first {
    left: calc(50% - 350px);
}

.kdozatim__arrow.second {
    left: calc(50% - 90px);
}

.kdozatim__arrow.third {
    right: calc(50% - 90px);
    transform: scaleX(-1);
}

.kdozatim__arrow.fourth {
    right: calc(50% - 350px);
    transform: scaleX(-1);
}

.kdozatim__phone, 
.kdozatim__phone a,
.kdozatim__mail a {
    color: black;
}

.kdozatim__contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.kdozatim__contact__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    line-height: 24pt;
}

.page-footer {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 14pt;
    padding: 30px 0;
    letter-spacing: initial;
    font-weight: 400;
}

.page-footer > a {
    color: black;
    text-decoration: underline;
}

.page-content {
    overflow: hidden;
    /*position: absolute;*/
}                  

#typeform{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 5000; 
    width: 80%; 
    height: 75%;
    min-width: 480px;
    margin: 10%; 
}

#typeform::before{
    content: 'fds';
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: -1;
    margin: -10%;    
}

#typeform iframe{
    width: 100%; 
    height: 100%; 
    border: 0;
}

#typeform .content{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

#typeform .close{
    display: block;
    position: absolute;
    top: -30px; right: 0px;
    width: 24px;
    height: 24px;
    background: #000;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/close.png) no-repeat;
    background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}